@tailwind components;
@tailwind base;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* To hidden the number buttons on Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* To hidden the number buttons on Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
