<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>ABM de Alumnos - Gimnasio</title>
    <link rel="stylesheet" href="../css/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <header>
      <h1 class="text-5xl text-center pt-2">Gestión de Alumnos - Gimnasio</h1>
      <div class="flex justify-end mr-5 pt-12 text-3xl">
        <a href="list.html" class="text-right text-blue-400"
          >Listado de Clientes ></a
        >
      </div>
    </header>

    <main
      class="w-full max-w-7xl mx-auto px-4 py-8 flex justify-center items-center"
    >
      <form
        id="formulario"
        class="mx-auto mt-8 p-12 rounded-lg shadow-lg space-y-6 min-w-fit min-h-fit"
      >
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 gap-x-20 mi"
        >
          <div class="space-y-2">
            <label
              for="nombre"
              class="block text-sm font-semibold text-gray-700"
              >Nombre</label
            >
            <input
              type="text"
              id="nombre"
              placeholder="Ingrese nombre"
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"
            />
          </div>

          <div class="space-y-2">
            <label
              for="apellido"
              class="block text-sm font-semibold text-gray-700"
              >Apellido</label
            >
            <input
              type="text"
              id="apellido"
              placeholder="Ingrese apellido"
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"
            />
          </div>

          <div class="space-y-2">
            <label for="dni" class="block text-sm font-semibold text-gray-700"
              >DNI</label
            >
            <input
              type="number"
              id="dni"
              placeholder="Ingrese DNI"
              min="0"
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"
            />
          </div>

          <div class="space-y-2">
            <label
              for="telefono"
              class="block text-sm font-semibold text-gray-700"
              >Teléfono</label
            >
            <input
              type="tel"
              id="telefono"
              placeholder="Ingrese teléfono"
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"
            />
          </div>

          <div class="space-y-2">
            <label
              for="emergencia"
              class="block text-sm font-semibold text-gray-700"
              >Tel. Emergencia</label
            >
            <input
              type="tel"
              id="emergencia"
              placeholder="Ingrese tel. emergencia"
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"
            />
          </div>

          <div class="space-y-2">
            <label
              for="vencimiento"
              class="block text-sm font-semibold text-gray-700"
              >Vencimiento de la cuota</label
            >
            <input
              type="date"
              id="vencimiento"
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"
            />
          </div>

          <div class="space-y-2 md:col-span-2 lg:col-spa">
            <label
              for="tipoCuota"
              class="block text-sm font-semibold text-gray-700"
              >Tipo de cuota</label
            >
            <select
              id="tipoCuota"
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200 bg-white"
            >
              <option value="">Seleccione tipo de cuota</option>
              <option value="Pilates Camilla">Pilates Camilla</option>
              <option value="Telas">Telas</option>
              <option value="Clases Grupales">Clases Grupales</option>
              <option value="Sala">Sala</option>
              <option value="Mixta">Mixta</option>
              <option value="Sala-Pilates">Sala-Pilates</option>
              <option value="clases-Pilates">Clases-Pilates</option>
            </select>
          </div>
        </div>

        <div class="mt-6">
          <button
            type="submit"
            class="w-full bg-blue-600 text-white py-3 px-6 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-colors duration-200 font-semibold"
          >
            Guardar Alumno
          </button>
        </div>
      </form>
    </main>

    <script src="../js/index.js"></script>
  </body>
</html>
